html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-primary: theme("colors.purple.500");
    --gradient-secondary: theme("colors.pink.500");
    --gradient-tertiary: theme("colors.indigo.500");
  }

  .theme-blue {
    --gradient-primary: theme("colors.blue.500");
    --gradient-secondary: theme("colors.cyan.500");
    --gradient-tertiary: theme("colors.sky.500");
  }

  .theme-green {
    --gradient-primary: theme("colors.emerald.500");
    --gradient-secondary: theme("colors.green.500");
    --gradient-tertiary: theme("colors.lime.500");
  }
}

* {
  scroll-behavior: smooth;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%); /* Start off-screen */
    opacity: 0; /* Start hidden */
  }
  100% {
    transform: translateX(0); /* End at its position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0); /* Start at its position */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: translateX(100%); /* Move off-screen */
    opacity: 0; /* Fully hidden */
  }
}

/* Custom classes for animations */
.drawer-enter {
  animation: slideIn 0.5s forwards; /* Animate entering */
}

.drawer-exit {
  animation: slideOut 0.5s forwards; /* Animate exiting */
}

/* App.css */

/* Add keyframes for the backdrop fade-in and fade-out animations */
@keyframes backdropFadeIn {
  0% {
    opacity: 0; /* Start hidden */
  }
  100% {
    opacity: 0.5; /* Fully visible */
  }
}

@keyframes backdropFadeOut {
  0% {
    opacity: 0.5; /* Start visible */
  }
  100% {
    opacity: 0; /* Fully hidden */
  }
}

/* Custom classes for animations */
.backdrop-enter {
  animation: backdropFadeIn 0.5s forwards; /* Animate entering */
}

.backdrop-exit {
  animation: backdropFadeOut 0.5s forwards; /* Animate exiting */
}
